extends layouts/frontend

block content
    body
        section 
            .travel     
                h1 Votre voyage commence ici...
                button.btn
                    a(href="/destinations") Les destinations

        h1.title Les destinations
        .container 
            .accordion_gallery

                .item.item_1 
                    .content
                        h1.name_country
                            a(href="/allemagne") Allemagne

                .item.item_2 
                    .content
                        h1.name_country
                            a(href="/croatie") Croatie

                .item.item_3 
                    .content
                        h1.name_country
                            a(href="/espagne") Espagne

                .item.item_4 
                    .content
                        h1.name_country
                            a(href="/france") France

                .item.item_5
                    .content
                        h1.name_country
                            a(href="/grece") Grèce
                .item.item_6 
                    .content
                        h1.name_country
                            a(href="/hongrie") Hongrie

                .item.item_7
                    .content
                        h1.name_country
                            a(href="/islande") Islande

                .item.item_8 
                    .content
                        h1.name_country
                            a(href="/italie") Italie

                .item.item_9 
                    .content
                        h1.name_country
                            a(href="/malte") Malte

                .item.item_10
                    .content
                        h1.name_country
                            a(href="/portugal") Portugal