extends layouts/frontend

block content
    .contact 
        h1 Prenez contact avec nous 
        h2 Formulaire de pré-réservation


    .form 
    form(action= "/contact", method= "post")
    <input type="text" name="nom" placeholder="Nom..">
    <input type="text" name="prenom" placeholder="Prénom..">
    <input type="email" name="email" placeholder="Mail..">
    <input type="phone" name="firstname" placeholder="Numéro de téléphone..">

